.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

*.html
tmp
data-images
data-contact-sheets

fat120_768x384.rda
fat40e1_768x384.rda
fat160_768x384.rda
data

data-raw/fat160_768x384.rda
data-raw/fat40e1_768x384.rda
